:root {
  -color-primary: ;
}
.home {
  background-image: url("./assasts/image/Rectangle 9.svg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  clip-path: polygon(0% 0%, 100% 0, 100% 56%, 49% 86%, 0 57%);

  position: relative;
}
.overlay {
  position: absolute;
  width: 50%;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: columne;
  align-items: center;
  gap: 30px;

}

.overlay h1 {
  font-size: 60px;
  font-weight: bold;
}
.overlay button {
  border-radius: 30px;
  padding: 10px 45px;
}
.overlay1 .navbar {
  position: absolute;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  top: 0; 
  left: 15%; 
}
.navbar ul li{
  marign-right:10px;
}
.sec3{
    /* width:60%; */
}
.sec8 form {
  width: 400px;
  border: 1px solid gray;
  padding: 50px;
  border-radius: 10px;
}
.sec8 form input ,
.sec8 form textarea{
  background-color: #d3d3d3;
  color: black;
}
.sec8 form input,
.sec3 button,
.sec4 button,
.sec5 button ,
.sec4 input,
.sec6 button,
.sec7 button,
.sec8 button{
  border-radius: 30px;
}
.sec8 textarea {
  width: 260px;
  /* margin-right: -70px; */
}

/* .sec8 button{
  text-align:center;
} */
.sec5 button {
  margin: auto;

}
.footer {
  background-color: blue;
}
.footer .row1 {
  display: flex;
  gap: 5px;
}
.img2 {
  width: 20px;
  color:white;
  /* marign-top:20px; */
}

ul {
  list-style-type: none;
}
.img3 {
  margin: auto;
  display: block;
}
.cardItem {
  border: 1px solid black;
}
.ul2 {
  margin: auto;
}
.ul2 li {
  margin-top: 15px;
}
.sec7 {

  height:100vh;
}
.card2 .card {
  /* position: absolute; */
  height: 650px;
  /* padding: 0px 20px; */
  border: 1px solid black;
  /* margin: auto; */
  margin-top:-40px;
}


.sec3 ,
.sec4 ,
.sec8{
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 0;
  margin-bottom: 50px;
}

.sec3 .text{
padding-left:100px;
}
.sec5 button ,
.sec6 button{
  display: block;
  margin: 0 auto;
}
.sec6-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 1px solid black; */
}
.sec6 .img3{
  width:50px;
}
.sec6 .img4{
   width:60px;
    margin: auto;
   
}
/* .sec6 .media-content{
  display:flex;
  border: 1px solid black;
   width:250px;
   text-align:center;
     justify-content:center;
} */
 .sec6 .media-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
   width: 220px;
  height: 150px;
  margin: auto;  
 } 
 .div1{
  /* border: 1px solid black; */
   margin-left:-20px;
   padding:0;
 }
 .sec8{
  width: 100%;
  max-width: 900px;
  
  padding: 0;
  margin-bottom: 50px;
 
  
 }
.footer ul li{
  margin-top:10px;
}
.footer h5{
  margin-left:30px;}

  .footer{
    
  }